@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "functions";
@import "variables";

$sans-serif: "Raleway", Helvetica, Verdana;
$header-sans-serif: "Lobster", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono";
$enable-responsive-font-sizes: true;

$theme-colors: (
    "primary": #92dce5,
    "secondary": #EEE5E9,
    "success": #6D8FDC,
    "info": #7C7C7C,
    "warning": #6DDCBD,
    "danger": #5B4DBC,
    "base": #2B303A,
    "white": #fff,


);

// $link-color: theme-color("secondary");
// $link-hover-color: darken($link-color, 20%);


@import "bootstrap";

/*********************************
Global Style Rules
**********************************/

a{
    cursor: pointer;
    font-family: $sans-serif;
    font-weight: 600;
}
h1{
    font-family: $header-sans-serif;
}

/* NAVIGATION */
.navbar-brand img{
    height:3rem;
}

.scroll-effect{
    transition: 500ms ease;
    background: rgba(255, 255, 255, 0.5);
}
.scroll-effect.scrolled{
    background:white;
}
@media screen and (min-width: 767px){
    .navbar-center{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-transform: capitalize;
        font-size: 1.2rem;   
    }
}

.nav-item{
    text-decoration: none;
    text-decoration-color: linear-gradient(to left, #92dce5, #4ebfe3, #009fe2, #1c7ad8, #5b4dbc);
}

button.navbar-toggler{
    border:none;
}
button.navbar-toggler:focus{
    outline:none;
}

a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #92dce5;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
a.left:hover:before {
    visibility: visible;
    width: 100%;
}


/* HERO HOME*/
.hero{
    // background-image: linear-gradient(to left top, rgba(146, 220, 229, .7), rgba(78, 191, 227, .7), rgba(62, 128, 156, 0.7), rgba(28, 122, 216, .7), rgba(91, 77, 188, .7)),
    // background:linear-gradient(to left top rgba(0,0,0,.3) ,rgba(0,0,0,.3), rgba(0,0,0,.3) ),
    // background: rgb(91,77,188);
    // background: linear-gradient(159deg, rgba(91,77,188,.6) 0%, rgba(146,220,229,.6) 100%);
    background: rgb(91,77,188);
    background: linear-gradient(135deg, rgba(91,77,188,.5) 0%, rgba(43,48,58,.5) 100%),
    url(../images/hero_image_desktop.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .subtitle{
        $sans-serif: "Raleway";
        font-weight: 300;
    }

    .btn{
        $sans-serif: "Raleway";
        font-weight: 500;
    }

    
}
@media screen and (max-width: 576px){

    img.logo-hero{
        width:95%;
    }
    .subtitle{
        padding-right: 2rem;
        padding-left:2rem;
    }
}


/* SOUND BAR FOR HOME */
#soundbarhome{
    // background:linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 251, 251, 0.2)),
    background: rgb(91,77,188);
    background: linear-gradient(135deg, rgba(91,77,188,.5) 0%, rgba(43,48,58,.5) 100%),
    url(../images/audio_section_home.jpg);
    height: 30vh;
    min-height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media screen and (max-width: 576px){
    #soundbarhome{
        height: 50vh;
        min-height: 50vh;

    }
}



/*  FOOTER MAIN */
.footer-nav{
    list-style: none;
    li a{
        color: #5B4DBC;
        font-size:1.1rem;
    }
    li a:hover{
        text-decoration: none;
        background-color: #5B4DBC;
        color: white;
    }
}
@media screen and (max-width: 975px){
    .logo-footer img{
        width:80%;
    }
}
@media screen and (max-width: 768px){
    .logo-footer img{
        width:80%;
    }
}
@media screen and (max-width: 450px){
    .logo-footer{
        display: none;
    }
    ul{
        padding:0;

        li{
            display:inline;
            padding-right: .8rem;
        }
    }
}

/************************************
        MUSIC PAGE
**************************************/

/* HERO SECTION */
.music-hero{
    background: rgb(91,77,188);
    background: linear-gradient(135deg, rgba(91,77,188,.5) 0%, rgba(43,48,58,.5) 100%),
    url(../images/music_hero.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    min-height: 50vh;
    background-repeat: no-repeat;
}

/* Genre Section */

@media screen and (max-width: 576px){
    .genre-icon{
        width: 100% !important;

    }
    .genre{
        font-size: .6rem;
    }
}
@media screen and (max-width: 768px){
    .genre-icon{
        width: 90% !important;

    }
}

/* Venues */
.venues{
    font-size: 1.2rem;
}


/* arrangements */
.arrangement{
    background: rgb(91,77,188);
    background: linear-gradient(135deg, rgba(91,77,188,.4) 0%, rgba(43,48,58,.4) 100%),
    url(../images/arrangement.jpg);
    background-size: cover;
    background-position: top;
    height:40vh;
    min-height: 40vh;
    background-repeat: no-repeat;

}
@media screen and (max-width: 768px){
    .arrangement{
        background-size: cover;
        background-position: top;
        height:20vh;
        min-height: 20vh;

    }
}
@media screen and (max-width: 450px){
    .arrangement{
        background-size: cover;
        background-position: top;
        height:16vh;
        min-height: 16vh;

    }
}

/*  INSTRUMENT PAGE*/
.instrument{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;

}
@media screen and(max-width: 992px){
    .instrument{
        border-radius: 50%;
        height: 6rem;
        width: 6rem;
    
    }
    img.instrument-icon{
        width: 90% !important;
    }
    .instrument-icon{
        font-size: .8rem;
    }
    .long{
        font-size: .5rem;
    }
    
}
@media screen and(max-width: 767px){
    .instrument{
        border-radius: 50%;
        height: 6rem;
        width: 6rem;
    
    }
    img.instrument-icon{
        width: 90% !important;
    }
    .instrument-icon{
        font-size: .8rem;
    }
    .long{
        font-size: .5rem;
    }
    
}


/************************************
        ABOUT PAGE
**************************************/

/* HERO SECTION */
.about-hero{
    background: rgb(91,77,188);
    background: linear-gradient(135deg, rgba(91,77,188,.4) 0%, rgba(43,48,58,.4) 100%),
    url(../images/full_stage_wedding.jpeg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    min-height: 50vh;
    background-repeat: no-repeat;    
}




/* Family section */
.hovereffect {
    font-family: $sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
    height: 90%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
  }

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height:70%;
    left: 10%;
    top: 10%;
    border-bottom: 2px solid #92dce5;
    border-top: 2px solid #92dce5;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
  }
  
  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
  }

  
  .hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }
  @media screen and(max-width: 445px){
    .hovereffect p{
        font-size: 1rem;
        font-weight: 400;
    }
    
}
  
  .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }


@media screen and(min-width: 767px){
    .music-note{
        width: 50% !important;
    }
    
}


/* members of the band */
.band-member{
    border-radius: 50%;
    height: 15rem;
    width: 15rem;

}







/************************************
        BOOK PAGE
**************************************/

/* HERO SECTION */
.book-hero{
    background: rgb(91,77,188);
    background: linear-gradient(135deg, rgba(91,77,188,.4) 0%, rgba(43,48,58,.4) 100%),
    url(../images/M&S-reception-110.jpeg);
    background-size: cover;
    background-position: bottom;
    height: 50vh;
    min-height: 50vh;
    background-repeat: no-repeat;
    // background-attachment: fixed; 
}

/* Accordion */
.accordion-heading{
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
    text-transform: capitalize;
}
.accordion-heading:hover{
    color: #EEE5E9;
}
.accordion-body{
    font-weight: 300;
    font-size: 1.2rem;
}
.accordion-links:hover{
    text-decoration: none;
}

@media screen and(max-width: 450px){
    .accordion-body{
        font-size: 1rem;
    }
    .accordion-heading{
        font-size: 1rem;
    }
}






/************************************
        CONTACT PAGE
**************************************/

/* HERO SECTION */
.contact-hero{

    background:linear-gradient(to right bottom, rgba(0, 255, 252, .4), rgba(0, 215, 255, .4), rgba(0, 172, 255, .4), rgba(0, 124, 234, .4), rgba(88, 68, 185, .4));
    min-height: 100vh;
}
.contact-information{
    font-size: 1.1rem;
}
.form-group{
    font-family: $sans-serif;
    font-size: 1.1rem;
}